<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiberAtay | Akaryakıt Apisi</title>
</head>
<body>
    <p id="title">SiberAtay Akaryakıt Api'si</p>
    <img src="{{ url_for('static', filename='siber_atay.jpg') }}" alt="" id="imageSA">
    <p id="dec">Kullanımı</p>
    <p id="content">
        /petrolofisi/ &lt; il &gt; ile Petrol ofisine ait olan fiyatları alabilirsiniz. <br><br>
        /tppd/&lt; il &gt; ile TPPD'ye ait fiyatları alabilirsiniz. <br>
    </p>

    <p id="name">Author : Nemesis</p>

</body>
</html>